In [90]:
import pandas as pd
edges = pd.read_csv('data/2018-12-11-Treatd/edges.csv', sep=";")
tfidf = pd.read_csv('data/2018-12-11-Treatd/TF-IDF-TFIDF.csv')

edges['source']= edges['source'].str.strip()
edges['target']= edges['target'].str.strip()

edges.head()

   source   target  Weight Direction                   TypeOf
0    sede   animal     254    Direct                  Affects
1    sede     vaca     245    Direct                  Affects
2  máximo   grande     210    Direct  EtymologicallyRelatedTo
3    sede  bezerro      95    Direct                  Affects
4    sede  animais      75    Direct                  Affects

In [91]:
#tfidf.head()
tfidf.set_index('index', inplace=True)

In [92]:
inverseedges = edges.copy()


inverseedges['index'] = inverseedges['target']+inverseedges['source']
edges['index']= edges['source']+edges['target']
inverseedges.set_index('index', inplace=True)
edges.set_index('index', inplace=True)

In [95]:
final = tfidf.append(edges)
final = final.append(inverseedges)

final.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Direction,TypeOf,Weight,avgdist,df,idf,source,target,term1,term2,tf,tfidf
index,,,,,,,,,,,,
cuidadobezerro,NaN,NaN,NaN,2.500717,32.0,"3,96578428466209",NaN,NaN,cuidado,bezerro,35.0,"138,802449963173"
cuidadofase,NaN,NaN,NaN,2.000000,2.0,"7,96578428466209",NaN,NaN,cuidado,fase,2.0,"15,9315685693242"
cuidadogestação,NaN,NaN,NaN,3.000000,2.0,"7,96578428466209",NaN,NaN,cuidado,gestação,5.0,"39,8289214233104"
cuidadogrande,NaN,NaN,NaN,7.708984,12.0,"5,38082178394093",NaN,NaN,cuidado,grande,12.0,"64,5698614072912"
cuidadofeto,NaN,NaN,NaN,5.000000,2.0,"7,96578428466209",NaN,NaN,cuidado,feto,3.0,"23,8973528539863"

In [97]:
filtered = final[~final.index.duplicated(keep=False)]

In [98]:
final.describe()

            Weight       avgdist            df            tf
count  1574.000000  66771.000000  66771.000000  66771.000000
mean      6.335451    153.463391      3.986940      5.224963
std      15.821294   1788.596477      6.053138      9.442129
min       3.000000      1.000000      2.000000      2.000000
25%       3.000000      4.000000      2.000000      2.000000
50%       4.000000     10.000000      2.000000      2.000000
75%       5.000000     20.000000      4.000000      5.000000
max     254.000000  95875.000000    260.000000    441.000000

In [99]:
filtered.describe()

           Weight       avgdist            df            tf
count  952.000000  66152.000000  66152.000000  66152.000000
mean     6.876050    153.012029      3.927621      5.133889
std     17.033318   1793.425957      5.993760      9.354370
min      3.000000      1.000000      2.000000      2.000000
25%      3.000000      4.062500      2.000000      2.000000
50%      4.000000     10.000000      2.000000      2.000000
75%      5.000000     20.000000      4.000000      5.000000
max    254.000000  95875.000000    260.000000    441.000000

In [103]:
print("Total duplicates removed: ",len(final.index)-len(filtered.index))

Total duplicates removed:  1241

In [104]:
filtered.to_csv('data/2018-12-12-Treatd/FilteredTFIDFFromMapped',sep=";")